<div class="row-fluid">
  <div class="span6">
    <div class="ibox float-e-margins">
      <div class="ibox-content text-center p-md">

        <h4 class="m-b-xxs">Top navigation, centered content layout <span class="label label-primary">NEW</span></h4>
        <small>(optional layout)</small>
        <p>Available configure options</p>
        <span class="simple_tag">Scroll navbar</span>
        <span class="simple_tag">Top fixed navbar</span>
        <span class="simple_tag">Boxed layout</span>
        <span class="simple_tag">Scroll footer</span>
        <span class="simple_tag">Fixed footer</span>
        <div class="m-t-md">
          <p>Check the Dashboard v.4 with top navigation layout</p>
          <div class="p-lg ">
            <a ui-sref="dashboards_top.dashboard_4"><img class="img-responsive img-shadow" src="img/dashboard2.gif" alt=""></a>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="span6">
    <div class="ibox float-e-margins">
      <div class="ibox-content text-center p-md">

        <h4 class="m-b-xxs">Basic left side navigation layout </h4><small>(main layout)</small>
        <p>Available configure options</p>
        <span class="simple_tag">Collapse menu</span>
        <span class="simple_tag">Fixed sidebar</span>
        <span class="simple_tag">Scroll navbar</span>
        <span class="simple_tag">Top fixed navbar</span>
        <span class="simple_tag">Boxed layout</span>
        <span class="simple_tag">Scroll footer</span>
        <span class="simple_tag">Fixed footer</span>
        <div class="m-t-md">
          <p>Check the Dashboard v.4 with basic layout</p>
          <div class="p-lg">
            <a ui-sref="dashboards.dashboard_4_1"><img class="img-responsive img-shadow" src="img/dashboard1.gif" alt=""></a>
          </div>
        </div>
      </div>
    </div>

  </div>


</div>
<div class="row-fluid">
  <div class="span6">
    <div class="ibox float-e-margins">
      <div class="ibox-content text-center p-md">

        <h4 class="m-b-xxs">Full height - Outlook view <span class="label label-primary">NEW</span></h4>
        <small>(optional layout)</small>
        <p>Available configure options</p>
        <span class="simple_tag">Scroll navbar</span>
        <span class="simple_tag">Boxed layout</span>
        <span class="simple_tag">Scroll footer</span>
        <span class="simple_tag">Fixed footer</span>
        <div class="m-t-md">
          <p>Check the Outlook view in in full height page</p>
          <div class="p-lg ">
            <a ui-sref="outlook"><img class="img-responsive img-shadow" src="img/aaa.gif" alt=""></a>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="span6">
    <div class="ibox float-e-margins">
      <div class="ibox-content text-center p-md">

        <h4 class="m-b-xxs">Off canvas menu <span class="label label-primary">NEW</span></h4>
        <small>(optional layout)</small>
        <p>Available configure options</p>
        <span class="simple_tag">Collapse menu</span>
        <span class="simple_tag">Fixed sidebar</span>
        <span class="simple_tag">Top fixed navbar</span>
        <span class="simple_tag">Boxed layout</span>
        <span class="simple_tag">Scroll footer</span>
        <span class="simple_tag">Fixed footer</span>
        <div class="m-t-md">
          <p>Check the off canvas menu on example article page</p>
          <div class="p-lg">
            <a ui-sref="off_canvas"><img class="img-responsive img-shadow" src="img/off_canvas.jpg" alt=""></a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
