
<div class="row-fluid">
  <div class="span6">
    <div class="ibox float-e-margins">
      <div class="ibox-content text-center p-md">

        <h4 class="m-b-xxs">{{'Application Stack Mapper'|translate}} <span  style="background-color:#2c5882" class="label label-primary">NEW</span></h4>
        <small></small>
        <p>用于显示应用拓扑关系、事务信息、方法调用堆栈的仪表盘</p>

        <div class="m-t-md">
          <p>支持数据下钻、过滤查询、点击联动、拓扑层次选择等</p>
          <div class="p-lg ">
            <a href="#!dashboard"  ui-sref="dashboards_top.dashboard_4"><img class="img-responsive img-shadow" src="img/dashboard2.gif" ng-click="dashboard.page_switch('Application_stack_mapper_demo')"  alt=""></a>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="span6">
    <div class="ibox float-e-margins">
      <div class="ibox-content text-center p-md">

        <h4 class="m-b-xxs">{{'User Behavior Tracker'|translate}} </h4><small></small>
        <p>用于显示用户行为（包括访问热点、页面性能、用户偏好、用户设备等）的仪表盘</p>

        <div class="m-t-md">
          <p>支持数据下钻、过滤查询、点击联动等</p>
          <div class="p-lg">
            <a href="#!dashboard" ui-sref="dashboards.dashboard_4_1"><img class="img-responsive img-shadow" src="img/dashboard1.gif" ng-click="dashboard.page_switch('User_behavior_demo')" alt=""></a>
          </div>
        </div>
      </div>
    </div>

  </div>


</div>
<div class="row-fluid">
  <div class="span6">
    <div class="ibox float-e-margins">
      <div class="ibox-content text-center p-md">

        <h4 class="m-b-xxs">{{'Network Topology Mapper'|translate}} <span class="label label-primary" style="background-color:#2c5882">NEW</span></h4>
        <small></small>
        <p>用于显示网络拓扑类数据（例如：接口调用关系、业务逻辑等）的仪表盘模板</p>

        <div class="m-t-md">
          <p>支持数据下钻、节点下钻、过滤查询、下钻回退、网络流标记等</p>
          <div class="p-lg ">
            <a href="#!dashboard" ui-sref="outlook"><img class="img-responsive img-shadow" src="img/dashboard3.gif"  ng-click="dashboard.page_switch('API_call_relationship_demo')" alt=""></a>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="span6">
    <div class="ibox float-e-margins">
      <div class="ibox-content text-center p-md">

        <h4 class="m-b-xxs">{{'Topology Mapper'|translate}} <span class="label label-primary" style="background-color:#2c5882">NEW</span></h4>
        <small></small>
        <p>用于显示网络拓扑类数据（例如：接口调用关系、业务逻辑等）的仪表盘模板</p>

        <div class="m-t-md">
          <p>支持局部放大、鱼眼效果、数据筛选等</p>
          <div class="p-lg">
            <a href="#!dashboard" ui-sref="off_canvas"><img class="img-responsive img-shadow" src="img/dashboard4.gif" ng-click="dashboard.page_switch('Topology_mapper_demo')" alt=""></a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
