<div ng-controller='statistics' ng-init="init()" >
  <div ng-style="{'display':panel.display }">
    <style type="text/css">
      table td {
        word-break: break-all;
      }
    </style>
  <!-- START Table -->

    <table ng-if="panel.mode === 'statistic'" st-table="displayedCollection" st-safe-src="data" class="table table-striped table-bordered" >
      <thead>
      <tr>
        <th>
          <input st-search placeholder="global search" class="input form-control" type="search"/>
        </th>
      </tr>
      <tr>
        <th ng-if="panel.mode === 'statistic'" st-sort="term">{{'Iterm'|translate}}</th>
        <th ng-if="panel.mode === 'statistic'" st-sort="count">{{'Count'|translate}}</th>
        <th ng-if="panel.mode === 'statistic'" st-sort="mean">{{'Mean'|translate}}</th>
        <th ng-if="panel.mode === 'statistic'" st-sort="mean">{{'Max'|translate}}</th>
        <th ng-if="panel.mode === 'statistic'" st-sort="mean">{{'Min'|translate}}</th>
        <th ng-if="panel.mode === 'statistic'" st-sort="mean">{{'Stddev'|translate}}</th>
      </tr>

      </thead>
      <tbody>
      <tr ng-repeat="row in displayedCollection">
        <td ng-if="panel.mode === 'statistic'">{{row.term}}</td>
        <td ng-if="panel.mode === 'statistic'">{{row.count}}</td>
        <td ng-if="panel.mode === 'statistic'">{{row.mean | number:panel.decimal_points}}</td>
        <td ng-if="panel.mode === 'statistic'">{{row.max}}</td>
        <td ng-if="panel.mode === 'statistic'">{{row.min}}</td>
        <td ng-if="panel.mode === 'statistic'">{{row.stddev | number:panel.decimal_points}}</td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="5">
          <div st-pagination="" st-items-by-page="panel.itemsByPage" st-displayed-pages="panel.displayPage" class="pagination pull-right"></div>
        </td>
      </tr>
      </tfoot>
    </table>

    <table st-table="displayedCollection" st-safe-src="data" class="table table-striped table-bordered" >
      <thead>
      <tr>
        <th>
          <input st-search placeholder="global search" class="input form-control" type="search"/>
        </th>
      </tr>
      <tr>
        <th ng-if="panel.mode === 'npm_overview'" st-sort="ip">{{'ip'|translate}}</th>
        <th ng-if="panel.mode === 'npm_overview'" st-sort="through_put_up">{{'through_put_up'|translate}}</th>
        <th ng-if="panel.mode === 'npm_overview'" st-sort="through_put_down">{{'through_put_down'|translate}}</th>
        <th ng-if="panel.mode === 'npm_overview'" st-sort-default="reverse" st-sort="reset">{{'reset'|translate}}</th>
        <th ng-if="panel.mode === 'npm_overview'" st-sort="retransmission">{{'retransmission'|translate}}</th>
        <th ng-if="panel.mode === 'npm_overview'" st-sort="duplicate">{{'duplicate'|translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="row in displayedCollection">
        <td ng-if="panel.mode === 'npm_overview'">{{row.ip}}</td>
        <td ng-if="panel.mode === 'npm_overview'">{{row.through_put_up | number:panel.decimal_points}}</td>
        <td ng-if="panel.mode === 'npm_overview'">{{row.through_put_down | number:panel.decimal_points}}</td>
        <td ng-if="panel.mode === 'npm_overview'">{{row.reset}}</td>
        <td ng-if="panel.mode === 'npm_overview'">{{row.retransmission}}</td>
        <td ng-if="panel.mode === 'npm_overview'">{{row.dup_ack }}</td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="5">
          <div st-pagination="" st-items-by-page="panel.itemsByPage" st-displayed-pages="panel.displayPage" class="pagination pull-right"></div>
        </td>
      </tr>
      </tfoot>
    </table>
  <!-- END Table -->
  <!-- Dummy div for testing color name -->
  <div id="colorTest"></div>
</div>
</div>
