<!DOCTYPE html>
  <!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
  <!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>RealSight APM</title>
    <link rel="stylesheet" href="css/bootstrap.light.min.css" title="Light">
    <link rel="stylesheet" href="css/timepicker.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/normalize.min.css">
    <link rel="stylesheet" href="css/rotate.css">
    <link rel="stylesheet" href="css/awesome-bootstrap-checkbox.css">
	  <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <style>
    </style>

  </head>

  <body ng-cloak  >
    <link rel="stylesheet" ng-href="css/bootstrap.{{dashboard.current.style||'dark'}}.min.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
	  <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/buttons.css">
    <link rel="stylesheet" href="css/nav/nav-style.css">
    <link rel="stylesheet" href="css/nav/ibox-style.css">
    <link rel="stylesheet" type="text/css" href="assets/css/cs-select.css" />

    <link rel="stylesheet" type="text/css" href="assets/css/cs-skin-rotate.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/toastr.min.css" />
    <link rel="stylesheet" type="text/css" href="css/jquery-confirm.min.css" />
    <link rel="stylesheet" type="text/css" href="css/sweetalert.css" />
    <link rel="stylesheet" type="text/css" href="css/nav/datatables.min.css" />
    <div ng-repeat='alert in dashAlerts.list' class="alert-{{alert.severity}} dashboard-notice" ng-if="$last" style="position:fixed">
      <button type="button" class="close" ng-click="dashAlerts.clear(alert)" style="padding-right:50px">&times;</button>
      <strong>{{alert.title}}</strong> <span ng-bind-html-unsafe='alert.text'></span> <div style="padding-right:10px" class='pull-right small'> {{$index + 1}} alert(s) </div>
    </div>
    <audio id="bgMusic" loop>
      <source  src="vendor/alarm/alarm.wav" type="audio/wav">

    </audio>

    <div id="wrapper"  ng-show="!dashboard.largeScreen">
      <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
          <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
              <div class="dropdown profile-element">
                <img src="img/rsapm_logo.png" class="img-circle" data-placement="left" >
              </div>
              <div class="logo-element">
                <img src="img/apm-logo.png"  data-placement="left" >
              </div>
            </li>
            <li >
              <a  style='text-decoration:none;cursor:pointer;'><i class="fa fa-th-large"></i> <span class="nav-label">{{'Dashboard'|translate}}</span> <span class="fa arrow"></span></a>
              <ul class="nav nav-second-level">
                <li ng-repeat="term in dashboard.template"><i  ng-click="dashboard.confirm_delete(term)" style="display: inline-block" class="fa fa-remove" ng-show="dashboard.current.hide_head"></i><a href="#!dashboard" style='text-decoration:none;cursor:pointer;display: inline-block;'  ng-click="dashboard.solr_load('dashboard',term)" ><i class="fa fa-dashboard"></i>{{term}}</a></li>

              </ul>
            </li>
            <li>
              <a href="#!template_demo"  style='text-decoration:none;cursor:pointer;'><i class="fa fa-free-code-camp"></i> <span class="nav-label">{{'Template'|translate}}</span></a>

            </li>
            <li>
            <a ng-controller='dashLoader' ng-init="init()" ng-include="'app/partials/dashLoader.html'"></a>
            </li>
          </ul>

        </div>
      </nav>

      <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom" style="background-color:#273a4a;">
          <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
              <a class="navbar-minimalize minimalize-styl-2 " style="cursor:pointer;color: #fff" ><i class="fa fa-ravelry"></i> </a>
            </div>

            <ul class="nav  navbar-right" style="float:right;margin-right:20px;margin-top: 4px" ng-click="dashboard.clear_cookie()">
              <li>
                <a >
                  <i class="fa fa-sign-out"></i> {{'Logout'|translate}}
                </a>
              </li>
            </ul>


            <select class="cs-select cs-skin-rotate" id="language" ng-if="!dashboard.largeScreen">
              <option value="cn">简体中文</option>
              <option value="en">English</option>
            </select>
          </nav>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">

          <div id="bodyContent" >
            <div class="container-fluid main"  ng-if="!dashboard.largeScreen">
              <div class="row-fluid">
          <span  style="position:absolute; left:50%; top:50%; margin:-25px 0 0 -25px ;" ng-show="dashboard.current.load">
            <i class="icon-spinner icon-spin icon-5x"></i>
          </span>
                <div ng-view ></div>
              </div>
            </div>
          </div>


        </div>
        <div class="footer">

          <div>
            <strong>Copyright</strong> © 2017 Neusoft ALL Rights Reserved
          </div>
        </div>

      </div>

    </div>


    <div  ng-show="dashboard.largeScreen" style="background: #fff">
      <!--div class="navbar navbar-static-top" >
        <div class="navbar-inner">
          <div class="container-fluid">
            <img src="img/aaaaa.png" data-placement="left" style="float:left;margin-top:4px" ng-if="dashboard.isMobile" ng-cloak>
            <img src="img/rsapm_logo.png" data-placement="left" style="float:left;margin-top:4px" ng-if="!dashboard.isMobile" ng-cloak>
            <select class="cs-select cs-skin-rotate" id="language" ng-if="dashboard.largeScreen">
              <option value="cn">简体中文</option>
              <option value="en">English</option>
            </select>
            <ul class="nav  navbar-right" style="float:right;margin-right:30px;margin-top: 4px" ng-click="dashboard.clear_cookie()">
              <li>
                <a >
                  <i class="fa fa-sign-out"></i> {{'Logout'|translate}}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div-->

      <div class="container-fluid main" ng-if="dashboard.largeScreen">
        <div class="row-fluid">
          <span  style="position:absolute; left:50%; top:50%; margin:-25px 0 0 -25px ;" ng-show="dashboard.current.load">
            <i class="icon-spinner icon-spin icon-5x"></i>
          </span>
          <div ng-view ></div>
        </div>
      </div>
    </div>

    <div ng-include="'app/partials/skin-config.html'" class="ng-scope" ></div>
    <script src="vendor/go.js"></script>
    <script src="vendor/vis.js"></script>
    <script src="vendor/vizceral.js"></script>
    <script src="vendor/pdf/jspdf.js"></script>
    <script src="vendor/nav/classie.js"></script>
    <script src="vendor/nav/selectFx.js"></script>
    <script src="vendor/require/require.js"></script>
    <script src="app/components/require.config.js"></script>
    <script>require(['app'], function () {})</script>

  </body>

</html>
